* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Londrina Solid', cursive;
}

body {
	background-color: #333B40;
}

h2 {
	Text-align: left;
	color: #E5DFD9;
	margin-bottom: 40px;
	margin-top: -20px;
	border-style: outset;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: #47CF73;
}


.form-control {
	background-color: #181C1F;
	font-size: 15px;
	border: none;
	height: 50px;
	transition-color: #515D66;
	transition: background-color 0.3s;
	outline: none;
	color: black

}

.form-control:focus {
	 background-color: #444857;
	 outline: 0;
}

.nomes {
	margin-left: -250px;
	color: #E5DFD9;
	
}

.nome {
	margin-left: -188px;	
	color: #E5DFD9;
}

.quadra { 
	position: relative;
	z-index: 1;
	background: #2C3338;
	max-width: 400px;
	margin: 0 auto 100px;
	margin-top: 150px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 20px;
	margin-left: 33%;
	
}

.btn-primary {
	
	background-color: #F2509C;
	border: none;
	width: 310px;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	align-items: center;
	font-size: 20px;
	transition: 0.3s;
	margin-top: 15px;
}
.btn-primary:hover  {
	opacity: 1;
	background-color: #B33B73;
}